/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider {
    overflow: hidden;
    zoom: 1;
    position: relative;
}

    .coin-slider a {
        text-decoration: none;
        outline: none;
        border: none;
    }

.cs-buttons {
    font-size: 0px;
    margin: 0;
    padding: 10px;
    float: left;
}

    .cs-buttons a {
        margin-left: 2px;
        width: 20px;
        height: 20px;
        float: left;
        background: url(images/slide_p.png) no-repeat left top;
        color: #fff;
        text-indent: -1000px;
    }

        .cs-buttons a.cs-active {
            background: url(images/slide_a.png) no-repeat left top;
            color: #fff;
        }

.cs-title {
    float: left;
    width: 880px;
    padding: 20px 40px 12px;
    background: url(images/overlay.png) repeat left top;
    color: #fff;
    font-size: 24px;
    line-height: 1em;
}

    .cs-title small {
        font-size: 12px;
        line-height: 1.8em;
    }

.cs-prev,
.cs-next {
    background: url(images/overlay.png) repeat left top;
    color: #fff;
    padding: 0px 10px;
}
