/*=== PageNavi. ===*/

/* main text */
.wp-pagenavi {
    margin: 0;
    padding: 20px 0;
    clear: both;
    font-size: 13px;
    text-align: left;
    color: #939393;
}

    .wp-pagenavi p {
        margin: 0;
        padding: 0;
    }

    /* passive buttons */
    .wp-pagenavi a,
    .wp-pagenavi .current {
        color: #474747;
        margin-left: 4px;
        padding: 7px 12px;
        text-decoration: none;
        background: #fff;
        border: 1px solid transparent;
    }

        /* active button */
        .wp-pagenavi a:hover,
        .wp-pagenavi .current {
            text-decoration: none;
            color: #32d9ed;
            background: #020202 url(images/pagenavi_a.gif) repeat-x left top;
            border: 1px solid #1b1b1b;
        }

    .wp-pagenavi .current_l {
        float: left;
    }

    /* text "page 1 of 2" */
    .wp-pagenavi .pages {
        float: right;
    }
