.float-ck { position: fixed;
             bottom: 0px;
              z-index: 9000}
* html .float-ck {position:absolute;
                  bottom:auto;
                  top:expression(eval (document.documentElement.scrollTop+document.docum entElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))) ;}
#float_content_left {border: 1px solid #01AEF0;
                   
}
#hide_float_left {text-align:left;
                   font-size: 11px;}
    #hide_float_left a {
        background: #ff0000;
        padding: 0px 0px;
        color: #FFF;
    }
