<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Add your Google Maps API Key from Google --><add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  <!-- And add your Commercial Key from Subgurim if you have purchased one --><add key="googlemaps.subgurim.net" value="AIzaSyBJPfNplNTJ2Su92VvPkWgBN98wrChmvb8" />  </appSettings>
  <connectionStrings>
    <!--Thay đổi kết nối ở đây-->
    <add name="SQLCONN" connectionString="data source=DESKTOP-8VK831P;Integrated Security=SSPI;initial catalog=Test2;User Id=sa;Password=sapassword;" providerName="System.Data.SqlClient" />
    <add name="Test2ConnectionString" connectionString="Data Source=DESKTOP-8VK831P;Initial Catalog=Test2;Integrated Security=True;User ID=sa;Password=sapassword" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="Nhom1" protection="All" loginUrl="Admin/DangNhapAdmin.aspx" defaultUrl="Admin/SanPham.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
  </system.web>
</configuration>